/* ==========================================================================
   工具样式
   ========================================================================== */

.fixed {
  position: fixed;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.center {
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ovh {
  overflow: hidden;
}

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.vt {
  vertical-align: top;
}

.vm {
  vertical-align: middle;
}

.vb {
  vertical-align: bottom;
}

.bb {
  box-sizing: border-box;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
}

.dn {
  display: none;
}

.vh {
  visibility: hidden;
}

.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cp {
  cursor: pointer;
}

.bcfff {
  background: #fff;
}

.c333 {
  color: #333;
}

.c666 {
  color: #666;
}

.c999 {
  color: #999;
}

/*主题文字、背景、边框颜色*/

.cfff {
  color: #fff;
}

.c000 {
  color: #000;
}

.ccc {
  color: #ccc;
}

/*常用字号*/
.fwb {
  font-weight: bold;
}

.fwn {
  font-weight: normal;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 26px;
}

.f28 {
  font-size: 28px;
}

.f30 {
  font-size: 30px;
}

.f32 {
  font-size: 32px;
}

.f34 {
  font-size: 34px;
}

.f36 {
  font-size: 36px;
}

.f38 {
  font-size: 38px;
}

.f40 {
  font-size: 40px;
}
