/*html {
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0.9);
    -webkit-filter: grayscale(90%);
}*/
.banner-swiper {
    width: 100%;
    height: 3.81rem;
}

.banner-swiper .swiper-wrapper {
    height: 3.76rem;
}

.banner-swiper .banner-pagination {
    height: 0.05rem;
}

.banner-swiper .swiper-slide {
    position: relative;
}

.banner-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
}

.banner-swiper .swiper-slide a span {
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 0.5rem;
    box-sizing: border-box;
    padding: 0 0.2rem;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.28rem;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 14.5%;
    height: 0.05rem;
    opacity: 1;
    background-color: #cccccc;
    margin: 0 0 0 0.5% !important;
    vertical-align: top;
    border-radius: 0;
}

.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin-left: 0 !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 25%;
    background-color: #ff5a39;
}

/*头部资讯*/
.hot-news-t {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.hot-news-t > div:nth-child(1) {
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/mg35.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.28rem;
    font-style: italic;
    color: #ffffff;
    margin-right: 0.2rem;
}

.hot-news-t a {
    display: block;
    font-size: 0.28rem;
    color: #333333;
    height: 0.4rem;
    line-height: 0.4rem;
    width: 6.1rem;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.hot-news-t a.checked {
    color: #ff5a39;
}

.hot-news {
    width: 100%;
}

.hot-news a {
    display: block;
    height: 0.4rem;
    line-height: 0.4rem;
    width: 100%;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    font-size: 0.28rem;
    color: #505050;
    margin-bottom: 0.1rem;
}

.hot-news a b {
    display: inline-block;
    vertical-align: inherit;
    height: 0.32rem;
    width: 0.64rem;
    box-sizing: border-box;
    border: solid 1px #ff8439;
    font-size: 0.22rem;
    text-align: center;
    line-height: 0.3rem;
    color: #ff8439;
    margin-right: 0.14rem;
    border-radius: 0.04rem;
}

/*手游下载*/

.game-down-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.game-down-container a {
    display: block;
    width: 1.5rem;
    height: 2rem;
}

.game-down-container a img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.14rem;
    vertical-align: bottom;
}

.game-down-container a span {
    height: 0.36rem;
    line-height: 0.36rem;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    text-align: center;
    display: block;
    color: #666666;
}

.down-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
    border-bottom: 0;
}

.down-toggle span {
    margin: 0 0.3rem !important;
}

.down-li li {
    height: 1.5rem;
    width: 100%;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down-li .down-img img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 24%;
    vertical-align: bottom;
}

.down-li .down-content {
    width: 3.65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.26rem;
    line-height: 0.4rem;
    color: #cccccc;
}

.down-li .down-content p {
    font-size: 0.26rem;
}

.down-li .down-content a {
    display: block;
    height: 0.4rem;
    line-height: 0.4rem;
    width: 100%;
    font-size: 0.32rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    color: #535353;
}

.down-li .down-content span {
    padding: 0 0.16rem;
}

.down-li .down-content span:first-child {
    padding-left: 0;
}

.down-li .down-btn {
    width: 1.48rem;
    height: 0.66rem;
    background-color: #efefef;
    border-radius: 0.33rem;
    line-height: 0.66rem;
    text-align: center;
    font-size: 0.3rem;
    color: #006cff;
}

/*热门游戏*/
.hot-swiper {
    margin: 0.3rem auto 0.6rem;
}

.hot-swiper .swiper-slide a {
    display: block;
    width: 1.58rem;
    height: 2.54rem;
    margin-bottom: 0.18rem;
}

.hot-swiper .swiper-slide {
    width: 1.58rem;
    margin: 0 0.2rem;
    height: 5.44rem;
}

.hot-swiper .swiper-slide img {
    width: 1.58rem;
    height: 2.1rem;
    vertical-align: bottom;
    margin-bottom: 0.18rem;
    border-radius: 0.1rem;
}

.hot-swiper .swiper-slide span {
    text-align: center;
    display: block;
    width: 100%;
    height: 0.26rem;
    line-height: 0.26rem;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    overflow: hidden;
    color: #666666;
}

/*攻略推荐*/
.strategy-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
    border-bottom: 0;
}

.strategy-toggle span {
    margin: 0 0.3rem !important;
}

.strategy-li a {
    width: 100%;
    height: 0.4rem;
    margin-bottom: 0.26rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.strategy-li a b {
    width: 0.06rem;
    height: 0.06rem;
    background-color: #dbdbdb;
    border-radius: 50%;
    float: left;
    margin: 0.17rem 0.05rem 0 0;
}

.strategy-li a i {
    font-size: 0.26rem;
    color: #adadad;
    font-style: normal;
}

.strategy-li a span {
    height: 0.4rem;
    line-height: 0.4rem;
    width: 6.2rem;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    color: #484848;
    font-size:0.3rem;
    box-sizing: border-box;
    padding: 0 0.1rem 0 0;
}

/*排行榜*/
.rank-toggle {
    width: 100%;
    height: 0.8rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0rem;
}

.rank-toggle span {
    font-size: 0.32rem;
    color: #666666;
    cursor: pointer;
    position: relative;
}

.rank-toggle span + span {
    margin-left: 0.95rem;
}

.rank-toggle span.checked {
    font-size: 0.36rem;
    font-weight: bold;
    color: #333333;
}

.rank-toggle span.checked:after {
    content: "";
    width: 0.6rem;
    height: 0.1rem;
    background-color: #ff5a39;
    border-radius: 0.05rem;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    right: 0;
    margin: auto;
}

.game-toggle {
    width: 3.8rem;
    height: 0.56rem;
    margin: auto;
    border-radius: 0.3rem;
    border: solid 1px #e6e6e6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.55rem;
}

.game-toggle span {
    height: 0.56rem;
    width: 49%;
    text-align: center;
    line-height: 0.56rem;
    border-radius: 0.28rem;
    display:block;
    font-size: 0.28rem;
    color: #828282;
}

.game-toggle span.checked {
    font-size: 0.28rem;
    font-weight: normal;
    background: #afafaf;
    color: #ffffff;
}

.game-toggle span.checked:after {
    content: "";
    display: none;
}

.game-toggle span + span {
    margin: 0 !important;
}

.game-top3 {
    width: 100%;
    height: 2.1rem;
    margin-bottom: 0.42rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.game-top3 > i {
    display: block;
    width: 0.04rem;
    height: 100%;
    background-color: #ff8439;
}

.game-top3 > b {
    display: block;
    width: 0.5rem;
    text-align: center;
    font-size: 0.3rem;
}

.game-top3 img {
    width: 1.58rem;
    height: 2.1rem;
    vertical-align: bottom;
    margin-right: 0.34rem;
    border-radius:0.1rem;
}

.game-top3 .game-info {
    width: 4.5rem;
    height: 100%;
}

.game-info > a {
    display: block;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: left;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    font-size: 0.3rem;
    color: #4a4a4a;
    font-weight: bold;
}

.game-info p {
    color: #666666;
    height: 0.95rem;
    padding-top: 0.14rem;
}

.game-info p em {
    color: #cccccc;
    margin: 0 0.25rem 0 0.8rem;
}

.game-info p span {
    display: inline-block;
    vertical-align: text-top;
    width: 1.48rem;
    overflow: hidden;
    height: 0.32rem;
    word-break: break-all;
}

.game-info .game-links {
    height: 0.45rem;
    font-size: 0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.game-info .game-links a {
    display: block;
    cursor: pointer;
    vertical-align: bottom;
    height: 0.45rem;
    text-align: center;
    line-height: 0.45rem;
    width: 1.2rem;
    background-color: #efefef;
    border-radius: 0.23rem;
    color: #006cff;
    font-size: 0.24rem;
    margin-right: 0.2rem;
}

.game-normal {
    margin-bottom: 0.4rem;
}

.game-normal a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #666666;
    height: 0.36rem;
}

.game-normal a i {
    display: block;
    width: 0.04rem;
    height: 100%;
    background-color: #cccccc;
}

.game-normal a span {
    display: block;
    width: 0.5rem;
    text-align: center;
    font-size: 0.3rem;
}

.game-normal a b {
    display: block;
    width: 4.1rem;
    height: 0.36rem;
    text-align: left;
    overflow: hidden;
    font-size: 0.3rem;
    color: #4a4a4a;
    text-indent: 0.2rem;
    box-sizing: border-box;
    padding-right: 0.1rem;
}

.game-normal a em {
    color: #cccccc;
    margin-right: 0.25rem;
}
.game-normal a *{
    height: 0.36rem;
    line-height: 0.36rem;
}
.rank-container .read-more {
    border-color: #cccccc;
    color: #cccccc;
}

/*销量排行*/
.sell-ranking {
    display: none;
    margin: 0.5rem 0 0.2rem;
}

.sell-ranking .read-more {
    margin-top: 0.6rem;
}

.sell-li {
    display: block;
    width: 100%;
    height: 1.8rem;
    border-radius: 0.1rem;
    background: url(../images/bgtu.jpg) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0.35rem;
}

.sell-li a {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
    background: rgba(67, 65, 53, 0.6);
    color: #353743;
    align-items: center;
    justify-content: flex-start;
}

.sell-li a .sell-title {
    background: rgb(67, 65, 53);
    border-radius: 0.1rem 0 0 0.1rem;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.28rem;
    color: #ffffff;
    flex-direction: column;
    height: 100%;
}

.sell-li .sell-title p {
    margin-top: 0.08rem;
    font-size: 0.32rem;
}

.sell-li ul {
    width: 4.4rem;
    margin-left: 0.35rem;
}

.sell-li ul li {
    height: 0.42rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sell-li ul li span {
    display: block;
    width: 3.6rem;
    line-height: 0.42rem;
    height: 0.42rem;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    font-size: 0.26rem;
    color: #ffffff;
}

.sell-li ul li i {
    width: 0.6rem;
    height: 0.2rem;
    background: url(../images/up.png) no-repeat right center;
    background-size: 0.16rem 0.2rem;
}

.sell-li ul .down i {
    background-image: url(../images/down.png);
    background-size: 0.16rem 0.2rem;
}

.sell-li ul .no i {
    background-image: url(../images/no.png);
    background-size: 0.19rem 0.05rem;
}

.sell-li ul .new i:after {
    content: "";
    width: 0.31rem;
    height: 0.15rem;
    float: left;
    margin-top: 0.03rem;
    background: url(../images/new.png) no-repeat right center;
    background-size: 100% 100%;
}

/*间距*/
.down-container{
    margin-bottom:0.6rem;
}
.down-container,.strategy-container{
    margin-top:0;
}
.abdd{padding-left: 2%;width: 98% !important;box-sizing: border-box;margin-bottom:10px;}

/*.index-swiper {*/
    /*margin: 0.2rem 0 0.38rem;*/
/*}*/

/*.index-swiper .swiper-slide {*/
    /*width: auto;*/
    /*font-size: 0;*/
/*}*/

/*.index-swiper .swiper-slide a {*/
    /*font-size: 0.3rem;*/
    /*color: #666666;*/
    /*margin: 0 0.28rem;*/
    /*height: 0.42rem;*/
    /*line-height: 0.38rem;*/
    /*display: inline-block;*/
    /*position: relative;*/
/*}*/

/*.index-swiper .swiper-slide a span {*/
    /*position: relative;*/
    /*z-index: 3;*/
/*}*/

/*.index-swiper .swiper-slide a.checked {*/
    /*color: #2c2c2c;*/
    /*font-weight: bold;*/
    /*font-size: 0.36rem;*/
/*}*/

/*.index-swiper .swiper-slide a.checked:after {*/
    /*position: absolute;*/
    /*left: -5%;*/
    /*bottom: 0;*/
    /*width: 110%;*/
    /*display: block;*/
    /*content: "";*/
    /*height: 0.14rem;*/
    /*background-color: #ff5a39;*/
    /*border-radius: 0.07rem;*/
    /*z-index: 2;*/
/*}*/
.dxh-notice{
    width: 6.7rem;
    margin: 0.25rem auto;
    background: url(../images/noticebg.png) no-repeat;
    background-size: 100% 100%;
    padding: 0.2rem;
}
.dxh-notice span{
    line-height: .4rem;
    font-size: .28rem;
    color: #964c48;
}
.dxh-notice p{
    line-height: .4rem;
    font-size: .28rem;
    text-indent: 2em;
    color: #964c48;
}