.qztf{width:100%;margin:10px auto 0 auto;clear:both;overflow:hidden;background:#fff}
.qztf-t{width:96%;height:36px;line-height:36px;margin:0 auto}
.qztf-t span{position:relative;float:left;text-indent:40px;color:#444}
.qztf-t span:before{position:absolute;content:"";display:block;width:36px;height:36px;background:url(../images/mob.png) no-repeat;background-size:90%}
.qztf-c{width:100%;clear:both;overflow-x:auto;white-space:nowrap;display:block;box-sizing:border-box;padding-left:.1rem;height:2.6rem;position:relative;-webkit-overflow-scrolling:touch}
.qztf-c::-webkit-scrollbar{background:transparent}
.qztf-c a{width:1.5rem;display:inline-block;margin:10px .1rem 0;padding:0!important;height:2rem}
.qztf-c a img{width:100%;margin:0 auto;border-radius:20%;display:block}
.qztf-c a span{color: #393939;width:100%;height:24px;line-height:24px;margin:5px 0;overflow:hidden;display:inline-block;text-align:center}
.qztf_hd img{width:100%}
.noshow{display:none}