@charset "UTF-8";
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { -webkit-tap-highlight-color: transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: none; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
input { outline: none; }
li { list-style: none;}
a { text-decoration: none; color:#333; }
body { font: 12px STHeiti,'Microsoft YaHei',Helvetica,Arial,sans-serif; color: #555; background: #f5f5f5;}
em, i { font-style: normal; }
strong { font-weight: normal; }
img { width: 100%; height: auto; }
.fl { display: block; float: left; }
.fr { display: block; float: right; }
.Wrap { min-width: 320px; max-width: 768px; margin: 0 auto; background: #f5f5f5; overflow: hidden; position: relative; }
.Mtop50 { margin-top: 51px !important; }
.mt0{margin-top:0!important;}
.hide{display:none;}
/*top*/
#QZhead { min-width: 320px; max-width: 768px; width: 100%; background: #fff; z-index: 2017; }
#QZhead .box { display: flex; flex: 1; margin: 0 12px; }
#QZhead .box > a { display: inline-block; flex: 0 0 36px; order: -1; width: 30px; height: 33px; background: url(../images/logo.png) no-repeat left center; background-size: auto 30px; cursor: pointer; margin-top: 8px; }
#QZhead .box a.back { background: url(../images/btn-back.png) no-repeat center; background-size: 13px auto; margin-top: 10px; }
#QZhead .box > p { flex: 1; line-height: 51px; text-align: center; font-size: 16px; font-weight: bold; margin: 0 30px 0 22px; }
#QZhead .box div.search { flex: 1; height: 35px; margin: 7px 30px 7px 22px; border: 1px #ddd solid; border-radius: 17.5px; background: #f6f6f6; overflow: hidden; }
#QZhead .box div.search div { display: block; height: 25px; margin: 5px 33px 5px 18px; position: relative; }
#QZhead .box div.search input.search-input { width: 92%; float: left; height: 25px; line-height: 25px; color: #888; border: none; background: none; overflow: hidden; font-size: 14px; }
#QZhead .box div.search input.search-btn { display: inline-block; float: right; height: 20px; width: 20px; padding: 6px 12px 6px 10px; position: absolute; right: -23px; top: 2px; background: url(../images/icon-search.png) no-repeat; background-size: 100%; }
#QZhead .box span.meun { display: inline-block; flex: 0 0 33px; width: 33px; height: 33px; border: 1px #ddd solid; border-radius: 50%; margin-top: 8.5px; background: url(../images/icon-pre.png) #f6f6f6 no-repeat left bottom; background-size: 33px auto; cursor: pointer; }
#QZhead .box span.meun:active { background-color: #ddd; }

#QZhead2{height: 50px;line-height: 50px;position: relative; background: -webkit-linear-gradient(left, #16b3de 0%,#cddc39 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16b3de', endColorstr='#cddc39',GradientType=1 );background: linear-gradient(to right, #16b3de 0%,#cddc39 100%);}
#QZhead2 .box{display: flex;flex: 1;margin: 0 12px;}
#QZhead2 .box p{flex: 1;color: #fff;font-size: 20px;text-align: center;font-weight: bold;}
#QZhead2 .box h2{flex: 1;color: #fff;font-size: 20px;padding: 0 10px 0 20px;text-align: center;font-weight: bold;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
#QZhead2 .box .logo{background: url(../images/logo2.png) no-repeat;background-size: 42px auto;display: block;width: 42px;margin-top: 8px;background-position: 0;}
#QZhead2 .box .meun{display: block;width: 34px;height: 34px;background: url(../images/icon-pre2.png) no-repeat;background-size:40px auto;margin:6px 0 0 10px;}

#QZhead2 .QZburger2 { display: none; width: 100%; background: #fff; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); position: absolute; left: 0; top: 49px; z-index: 999;}
#QZhead2 .QZburger2 ul { overflow: hidden; width: 100%; padding: 12px 0; }
#QZhead2 .QZburger2 ul li { width: 25%; height: 35px; line-height: 35px; float: left; text-align: center; }
#QZhead2 .QZburger2 ul li a { font-size: 16px; color: #888; width: 100%; height: 35px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
#QZhead2 .QZburger2 .search { margin: 0 12px 18px; position: relative; height: 32px; background: #f5f5f5; border-radius: 16px; display: flex; flex: 1; }
#QZhead2 .QZburger2 .search .search_box { position: relative; flex: 1; margin-right: 40px; }
#QZhead2 .QZburger2 .search .search_box .search-input { width: 100%; border: none;float: left; background: none; height: 20px; line-height: 20px; font-size: 12px; color: #333; margin: 6px 0 0 10px; }
#QZhead2 .QZburger2 .search .search_box .search-btn { display: inline-block; float: right; height: 19px; width: 19px; position: absolute; right: -28px; top: 6px; background: url(../images/icon-search.png) no-repeat; background-size: 100%; }
#QZhead2 .box > a { display: inline-block; flex: 0 0 42px; order: -1; width: 30px; height: 33px; background: url(../images/logo.png) no-repeat left center; background-size: auto 30px; cursor: pointer; margin-top: 8px; }
#QZhead2 .box a.back { background: url(../images/btn-back.png) no-repeat center; background-size: 13px auto; margin-top: 10px; }

/*QZburger*/
.QZburger { min-width: 320px; max-width: 768px; width: 100%; display: none; position: fixed; z-index: 20179; top: 50px; background: #fff; border-top: 1px solid #f5f5f5; overflow-x: hidden; overflow-y: scroll; }
.QZburger .bt { display: block; padding: 0 12px; overflow: hidden; }
.QZburger .bt p { float: left; color: #333; font-size: 16px; line-height: 42px; font-weight: bold; }
.QZburger .cont1 { overflow: hidden; }
.QZburger .cont2 { margin-bottom: 6px; overflow: hidden; }
.QZburger .cont2 .list { margin: 0 12px; overflow: hidden; }
.QZburger .cont2 .list ul li { float: left; width: 33.33%; margin: 5px 0; text-align: center; }
.QZburger .cont2 .list ul li a { display: inline-block; background: #f6f6f6; width: 90%; border-radius: 4px; overflow: hidden; }
.QZburger .cont2 .list ul li a p { display: inline-block; color: #555; line-height: 18px; margin: 9px 0; padding-left: 20px; font-size: 14px; background: url(../images/img-ico.png) no-repeat; background-size: 18px auto; }
.QZburger .cont2 .list p.az { background-position: 0 -18px; background-size: 16px auto; }
.QZburger .cont2 .list p.ios { background-position: 2px 1px; background-size: 16px auto; }
.QZburger .cont2 .list p.pc { background-position: 0 -101px; background-size: 16px auto; }
.QZburger .cont2 .list p.zq { background-position: 0 -62px; background-size: 16px auto; }
.QZburger .cont2 .list p.rj { background-position: 0 -121px; background-size: 16px auto; }
.QZburger .cont2 .list p.yx { background-position: 0 -164px; background-size: 16px auto; }
.QZburger .cont2 .list p.xw { background-position: 0 -40px; background-size: 16px auto; }
.QZburger .cont2 .list p.gl { background-position: 0 -142px; background-size: 16px auto; }
.QZburger .cont2 .list p.jc { background-position: 0 -82px; background-size: 16px auto; }
.QZburger .closebtn { margin: 12px 0 30px; text-align: center; }
.QZburger .closebtn button { display: inline-block; width: 90%; background: #16b3de; border-radius: 4px; color: #fff; font-weight: bold; padding: 9px 0; font-size: 14px; }

.QZ-nav, .cont1 .list { background: #fff; }
.QZ-nav ul, .cont1 .list ul { display: block; padding: 15px 6px; overflow: hidden; }
.QZ-nav li, .cont1 .list li { float: left; display: inline-block; width: 20%; text-align: center; }
.QZ-nav li a, .cont1 .list li a { overflow: hidden; text-decoration: none; }
.QZ-nav li a span, .cont1 .list li a span { display: inline-block; width: 49px; height: 48px; margin-bottom: 10px; background: url(../images/img-nav.png) no-repeat; background-size: auto 47px; }
.QZ-nav li a p, .cont1 .list li a p { font-size: 14px; color: #888; }
.QZ-nav li:nth-child(1) a span, .cont1 .list li:nth-child(1) a span { background-position: -197px 0; }
.QZ-nav li:nth-child(2) a span, .cont1 .list li:nth-child(2) a span { background-position: 0 0; }
.QZ-nav li:nth-child(3) a span, .cont1 .list li:nth-child(3) a span { background-position: -98px 0; }
.QZ-nav li:nth-child(4) a span, .cont1 .list li:nth-child(4) a span { background-position: -50px 0; }
.QZ-nav li:nth-child(5) a span, .cont1 .list li:nth-child(5) a span { background-position: -148px  0; }

.QZ-up { display: none; position: fixed; z-index: 10; top: 80%; right: 5%; width: 32px; height: 32px; background: url(../images/btn-up.png) no-repeat; background-size: 100%; }

a.mor { line-height: 40px; border-top: 1px solid #f5f5f5; font-size: 14px; text-align: center; color: #222; display: block; }

.Q_title{border-bottom:1px solid #eee;height:42px;margin:0;padding:0 10px;position:relative;background: #fff;}
.Q_title h2{float:left;font-size:16px;color:#333;line-height:18px;height:18px;margin-top:12px;border-left:5px solid #16b3de;text-indent:10px;font-weight:normal;}
.Q_title .more{padding-right:13px;line-height:24px;margin-top:10px;font-size:14px;color:#777;text-align:center;background:url(../images/more.png) no-repeat right 5px;background-size:14px auto;display:block;float:right;border-radius:3px;margin-right:0;}

.recomTabs{float:right;border:1px solid #16b3de;border-radius:3px;height:24px;line-height:24px;margin-top:8px;}
.recomTabs a,.recomTabs i{display:inline-block;height:24px;padding:0 6px;text-align:center;}
.recomTabs a.cur,.recomTabs i.cur{background:#16b3de;color:#fff;}

/*page*/
.page { background: #fff; border-top: 1px solid #f5f5f5; padding: 10px 20px; display: flex; justify-content: space-between; }
.page > a { width: 22%; margin: 14px 0; display: inline-block; line-height: 30px; border-radius: 4px; background: #f6f6f6; text-align: center; color: #333; }
.page > a:active, .page span .cbtn a:active { background: #ddd; }
.page > a:nth-child(2) { width: 14%; }
.page > a:nth-child(4) { width: 14%; }
.page > a.over { color: #bbb; }
.page > span { width: 22%; margin: 14px 0; display: inline-block; line-height: 30px; border-radius: 4px; text-align: center; background: #16b3de; color: #fff; font-size: 14px; position: relative; }
.page > span .cbtn { width: 100%; position: absolute; top: -62px; left: 0; z-index: 10; height: 92px; overflow-y: scroll; background: #fff; border-radius: 4px; -webkit-box-shadow: 0 0 3px #bbb; -moz-box-shadow: 0 30 3px #bbb; box-shadow: 0 0 3px #bbb; }
.page > span .cbtn a { display: inline-block; text-align: center; line-height: 30px; margin-bottom: 1px; float: left; width: 100%; background: #f6f6f6; font-size: 14px; color: #666; }

.plwrap { padding: 0 12px 12px; }

.YQ_link .lis { overflow: hidden; margin: 0 12px 10px 12px; }
.YQ_link .lis a { font-size: 12px; color: #666; margin-right: 20px; line-height: 28px; }

/*foot*/
.QZfoot { clear: both; display: block; background-color: #333; text-align: center; overflow: hidden; }
.QZfoot span { display: block; height: 66px; background: url(../images/f-logo.png) no-repeat center center; background-size: 140px auto; }
.QZfoot p { font-size: 10px; color: #999; line-height: 20px; margin: 0 0 12px; }
.QZfoot div { margin: 0 12px; overflow: hidden; border-top: 1px solid #414141; }
.QZfoot div a { text-align: center; display: inline-block; width: 50%; float: left; }
.QZfoot div a em { display: inline-block; color: #fff; padding-left: 18px; background: url(../images/f-home.png) no-repeat left center; background-size: auto 14px; font-size: 12px; line-height: 40px; }
/*.QZfoot div a:nth-child(2) em { background: url(../images/f-khd.png) no-repeat left center; background-size: auto 14px; }*/
.QZfoot div a:nth-child(2) em { background: url(../images/f-top.png) no-repeat left center; background-size: auto 14px; }

.basebox { background: #fff; margin-top: 6px; }
.basebox .bt { display: block; overflow: hidden; padding: 0 12px; }
.basebox .bt p { float: left; color: #333; font-size: 16px; font-weight: bold; line-height: 42px; }
.basebox .bt h2 { float: left; color: #333; font-size: 16px; font-weight: bold; line-height: 42px; }
.basebox .bt a { float: right; font-size: 14px; color: #888; line-height: 42px; text-decoration: none; }
.basebox .bt .chose { float: right; margin: 8px 0; display: inline-block; border-radius: 13px; overflow: hidden; }
.basebox .bt .chose a { display: inline-block; float: left; color: #999; line-height: 26px; padding: 0 6px; background: #f6f6f6; font-size: 12px; }
.basebox .bt .chose a.on { background: #16b3de; color: #fff; }

/*meun*/
.menuwrap { min-width: 320px; max-width: 768px; width: 100%; height: 43px; position: relative; }
.menuwrap > span { display: inline-block; height: 43px; width: 30px; position: absolute; top: 0px; }
.menuwrap .l-y { left: 0; background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.3) 100%); background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.3) 100%); background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.3) 100%); background: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.3) 100%); background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.3) 100%); }
.menuwrap .r-y { right: 0px; background: -moz-linear-gradient(right, white 0%, rgba(255, 255, 255, 0.3) 100%); background: -webkit-linear-gradient(right, white 0%, rgba(255, 255, 255, 0.3) 100%); background: -o-linear-gradient(right, white 0%, rgba(255, 255, 255, 0.3) 100%); background: -ms-linear-gradient(right, white 0%, rgba(255, 255, 255, 0.3) 100%); background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0.3) 100%); }

.menu { min-width: 320px; max-width: 768px; width: 100%; height: 43px; background: #fff; -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.04); -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.04); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.04); overflow-x: scroll; white-space:nowrap; overflow-y: hidden; }
.menu ul { display: inline-block; padding: 0 12px; overflow: hidden; }
.menu ul li { display: inline-block; padding: 0 15px; text-align: center; }
.menu ul li a { display: inline-block; color: #333; font-size: 16px; line-height: 35px; margin: 2px 0 4px 0; }
.menu ul li a.current { color: #16b3de; }

.Qzcrumb { padding: 0 12px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.Qzcrumb a, .Qzcrumb span { line-height: 40px; color: #888; font-size: 14px; }
.Qzcrumb span { margin: 0 4px; }

/*list top*/
.Toplist { background: #fff; padding: 0 12px; display: block; }
.Toplist ul { padding-bottom: 10px; overflow: hidden; }
.Toplist ul li { float: left; display: inline-block; width: 25%; margin-top: 15px; text-align: center; }
.Toplist ul li a { display: inline-block; border: 1px solid #e3e3e3; width: 90%; margin: 0 auto; border-radius: 5px; height: 28px; line-height: 28px; background: #fff; color: #555; }
.Toplist ul li.on a { background: #16b3de; border: 1px solid #16b3de; color: #fff; }
.Toplist ul li.mor a { color: #16b3de; }

.Toplist2 { background: #fff; padding: 0 12px; display: block; }
.Toplist2 ul { padding-bottom: 10px; overflow: hidden; }
.Toplist2 ul li { float: left; display: inline-block; width: 25%; margin-top: 15px; text-align: center; }
.Toplist2 ul li a { display: inline-block; border: 1px solid #e3e3e3; width: 90%; margin: 0 auto; border-radius: 5px; height: 28px; line-height: 28px; background: #fff; color: #555; }
.Toplist2 ul li.on a { background: #16b3de; border: 1px solid #16b3de; color: #fff; }
.Toplist2 ul li.mor a { color: #16b3de; }

.hottag { margin-top: 0; }
.hottag .taglist ul { overflow: hidden; padding: 12px; }
.hottag .taglist ul li { display: block; float: left; height: 24px; background: #f0f3f4; border-radius: 12px; text-align: center; line-height: 24px; padding: 0 12px; margin: 5px 6px 5px 0; }
.hottag .taglist ul li a { font-size: 12px; color: #888; }
.hottag .taglist li.color1 { background: #3aa3f4; }
.hottag .taglist li.color1 a { color: #fff; }
.hottag .taglist li.color2 { background: #fa5153; }
.hottag .taglist li.color2 a { color: #fff; }
.hottag .taglist li.color3 { background: #1ec2b6; }
.hottag .taglist li.color3 a { color: #fff; }

.Tagall { padding-bottom: 20px; }
.Tagall ul { padding: 0 12px; overflow: hidden; }
.Tagall ul li { width: auto; float: left; line-height: 22px; text-align: center;margin:0 10px; }
.Tagall ul li a {  margin: 0 auto; display: block;  font-size: 12px; color: #888; }

.swipe-hd { width: 100%; display: block; height:155px; background: #fff; margin: 0 auto; position: relative; overflow: hidden; z-index: 1; }
.swipe-hd .swiper-container{height:150px;overflow: hidden;}
.swipe-hd .swiper-slide { position: relative; }
.swipe-hd .swiper-slide p{position:absolute;bottom:0;left:0;width:96%;height:24px;line-height:24px;padding:0 2% 10px 2%;font-size:13px;color:#fff;text-align:center;background:rgba(0,0,0,0.6);white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.swipe-hd .hd-bt {display: none; width: 100%; height: 40px; background: url(../images/bg-hdbt.png) no-repeat; background-position: bottom; background-size: 100% auto; position: absolute; left: 0; bottom: -2px; z-index: 9; }
.swipe-hd .swiper-pagination { bottom: 2px!important; }
.swipe-hd .swiper-pagination-bullet { width: 4%; height: 4px; background: #d0cecd; border-radius: 2px; opacity: 1; }
.swipe-hd .swiper-pagination-bullet-active { background: #16b3de; }

.cont_6 .cont6_cont { padding: 0 12px; }

ul.lisstyl1 { display: block; overflow: hidden; }
ul.lisstyl1.pdl{padding:0 12px;}
ul.lisstyl1 li { position: relative; border-bottom: 1px solid #f5f5f5; padding: 10px 0; }
ul.lisstyl1 li .img { display: inline-block; float: left; }
ul.lisstyl1 li .img img { display: inline-block; width: 60px; height: 60px; border-radius: 10px; background: #969696; }
ul.lisstyl1 li .downl { display: inline-block; float: right; text-align: center; color: #fff; line-height: 28px; width: 60px; background: #16b3de; border-radius: 3px; position: absolute; top: 36%; right: 0; height: initial; }
ul.lisstyl1 li .info { display: block; height: 60px; margin: 0 66px 0 62px; position: relative; }
ul.lisstyl1 li .info div { width: 100%;    margin-left: 10px; }
ul.lisstyl1 li .info div a { display: inline-block; max-height: 20px; color: #333; font-size: 16px; overflow: hidden; }
ul.lisstyl1 li .info div p.size { color: #888; overflow: hidden; margin: 2px 0; }
ul.lisstyl1 li .info div p.miaoshu { display: block; color: #888; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.list { display: block; padding: 0 12px; overflow: hidden; }
.list ul { display: block; overflow: hidden; padding-top: 6px; }
.list ul li { float: left; width: 25%; text-align: center; }
.list div.img { display: inline-block; width: 66px; height: 66px; border-radius: 10px; display: inline-block; position: relative; margin-bottom: 5px; }
.list div.img img{width: 66px; height: 66px;border-radius: 10px;}
.list div.img span { display: inline-block; position: absolute; width: 38px; height: 20px; top: -4px; left: -2px; }
.list div.img span.bq1 { background: url(../images/bq1.png); background-size: 100%; }
.list div.img span.bq2 { background: url(../images/bq2.png); background-size: 100%; }
.list div.img span.bq3 { background: url(../images/bq3.png); background-size: 100%; }
.list div.img span.bq4 { background: url(../images/bq4.png); background-size: 100%; }
.list .yxj div.img{border:1px solid #eee;}
.list .yxj div.img img{
	float: left;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    padding: 3px;
}


.list p.name { color: #333; height: 20px; overflow: hidden; line-height: 20px; margin: 0 5px 5px 5px; font-size: 13px;}
.list p.time {color:#666;height: 20px; overflow: hidden; line-height: 20px;font-size: 12px;margin: -5px 0 10px 0;}
.list a.downl { display: block; clear: both; color: #16b3de; line-height: 27px; width: 56.5px; border: 1px solid #16b3de; border-radius: 3px; margin: 0 auto 15px auto; }

.lisstyl3 { display: block; overflow: hidden; padding-top: 6px; }
.lisstyl3 li { float: left; width: 20%; text-align: center; }
.lisstyl3 div.img { display: inline-block; width: 55px; height: 55px; border-radius: 50%; display: inline-block; position: relative; margin-bottom: 10px; background: #f5d08a; }
.lisstyl3 div.img img { display: block; width: 50px; height: 50px; margin: 2.5px; border-radius: 50%; }
.lisstyl3 p.name { color: #333; height: 20px; overflow: hidden; line-height: 20px; margin: 0 0 10px 0; }

.cont2_lis { display: block; height: 115px; padding: 10px 0 20px 0; margin-left: 12px; position: relative; overflow: hidden; }
.cont2_lis .lis { display: block; width: 140px; height: 115px; float: left; margin: 0 0 20px 0; }
.cont2_lis .bg { width: 100%; height: 90px; margin-top: 25px; background: #C0DBF7; border-radius: 6px; position: relative; }
.cont2_lis .bg .img { width: 50px; height: 50px; background: #fff; position: absolute; left: 45px; top: -25px; border-radius: 50%; overflow: hidden; }
.cont2_lis .bg .img img { width: 46px; height: 46px; margin: 2px; border-radius: 50%; }
.cont2_lis .bg .name { float: left; width: 100%; overflow: hidden; text-align: center; margin-top: 25px; }
.cont2_lis .bg .name p { line-height: 30px; height: 30px; overflow: hidden; font-size: 12px; color: #fff; }
.cont2_lis .bg .zq { display: block; float: left; width: 80px; height: 26px; line-height: 26px; margin: 0 0 0 30px; background: #fff; color: #333; font-size: 12px; border-radius: 4px; text-align: center; }
.cont2_lis .swiper-slide { float: left; width: 140px; }
.cont2_lis .color1 { background: #92b54d; }
.cont2_lis .color2 { background: #d9a36d; }
.cont2_lis .color3 { background: #95b9dd; }
.cont2_lis .color4 { background: #16b3de; }

.cont4_lis { padding: 0 12px; }
.cont4_lis ul { display: block; overflow: hidden; padding-top: 6px; }
.cont4_lis ul li { float: left; width: 25%; text-align: center; }
.cont4_lis div.img { display: inline-block; width: 57.5px; height: 57.5px; border-radius: 10px; overflow: hidden; position: relative; margin-bottom: 10px; }
.cont4_lis p.name { color: #333; height: 20px; overflow: hidden; line-height: 20px; margin: 0 0 10px 0; }

.cont5_lis { padding: 0 12px; }
.cont5_lis a { display: block; background: url(../images/list-icon.png) no-repeat left center; background-size: 5px auto; padding: 8px 15px; color: #333; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.cont5_lis.tis a {position:relative;padding: 8px 65px 8px 15px;}
.cont5_lis.tis span{position:absolute;top:10px;right:0;font-size:12px;color:#999;}

.Tips { width: 100%; float: left; margin: 20% 0; }
.Tips img { display: block; margin: 0 auto; width: 60%; }
.Tips p { text-align: center; font-size: 22px; line-height: 80px; color: #000; }
.Tips p span { font-size: 26px; color: #ff0000; margin: 0 5px; }

.tags{margin:10px 0;font-size:14px;}
.tags span{color:#333;font-weight:bold;}
.tags a{color:#16b3de;margin:0 15px 0 0;}


#notice {max-width: 320px;height: 100px;margin: auto;border: 1px #ddd solid;padding: 1px 20px;}
#notice .btn{margin:5px 3px; padding:5px 18px 5px 18px; background-size:20px; background:#ff6a6a; color:#fff; text-align:center; font-size:16px; border-radius:5px; box-shadow: 0 2px 1px #d32248 inset;}

/*���м����*/
.downltop{margin-top: 0;}
#BreadcrumbNavigation{display: block; clear: both; background: #f5f5f5;}
#BreadcrumbNavigation>.BN-a{ display: block; padding: 0 12px; overflow: hidden;}
#BreadcrumbNavigation>.BN-a>.BN-a-head{ display: inline-block; float: left; margin: 5px 6px 5px 0; overflow: hidden;}
#BreadcrumbNavigation>.BN-a>.BN-a-head>span{ display: inline-block; width: 38px; height: 20px; font-size: 12px; font-family: Helvetica Regular,'�����е���', Microsoft YaHei,sans-serif,'����',Tahoma; color: #fff; text-align: center; line-height: 20px; cursor: pointer;}
#BreadcrumbNavigation>.BN-a>.BN-a-head>em{ display: inline-block; float:left; width: 20px; height: 20px; background: url(../images/position.png) no-repeat; background-size: 20px  auto;}
#BreadcrumbNavigation>.BN-a>.BN-a-cont{display: block;overflow: hidden; height: 30px;}
#BreadcrumbNavigation>.BN-a>.BN-a-cont>a{ font-size: 12px; color: #555; height: 30px; line-height: 30px; font-family: Helvetica Regular,'�����е���', Microsoft YaHei,sans-serif,'����',Tahoma;}
#BreadcrumbNavigation>.BN-a>.BN-a-cont>a.BN-lei{ padding-left: 10px; background: url(../images/up-down3.png) no-repeat 1px top; background-size: 7px auto;}
#BreadcrumbNavigation>.BN-a>.BN-a-cont>a.open{color: #16b3de; font-weight: bold;background: url(../images/up-down3.png) no-repeat left bottom; background-size: 7px auto;}
#BreadcrumbNavigation>.BN-b{background-color:#f5f5f5; position:absolute; z-index: 1000; border-bottom: 1px solid #ebebeb;}
#BreadcrumbNavigation>.BN-b>.BN-classify{display: block;margin: 0 6px;overflow: hidden; padding-top: 5px;}
#BreadcrumbNavigation>.BN-b>.BN-classify>li{display: inline-block;float: left;width: 25%;margin-bottom: 10px;}
#BreadcrumbNavigation>.BN-b>.BN-classify>li>a{display: block;margin: 0 6px;text-align: center;border-radius: 2px;background: #fff;color: #333;line-height: 30px;font-size: 12px;font-family: Helvetica Regular,'�����е���', Microsoft YaHei,sans-serif,'����',Tahoma;}
#BreadcrumbNavigation>.BN-b>.BN-classify>li>a.BN-cur{background: #16b3de;color: #fff;}


.like_item .item_info {width: 100%; overflow:hidden;}
.like_item .item_info .bt { display: block; font-size: 24px; font-weight: bold; color: #2e2e2e; width: 100%; height: 46px; line-height: 46px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.like_item .item_info .time {overflow: hidden;}
.like_item .item_info .time i { display: block; float: left; background: url(../images/ico-img3.png) no-repeat; height: 10px; width: 12px; background-position: 0 -9px; margin: 13px 5px 0 0; }
.like_item .item_info .time span { font-size: 12px; color: #666; margin-right: 0; height: 30px; line-height: 36px; }
.like_item .item_info .time .bt{float:left;font-size:18px;width:auto;height:30px;line-height:30px;margin:0 20px 0 0;}
.like_item .item_info .time .mr{float:right;font-size:12px;line-height:34px;color:#666;}
.like_item .item_info .miaoshu {display:block;width:100%;max-height:65px;line-height:22px;font-size:13px;color:#666;overflow:hidden;white-space: initial;}

.newsnext{width:90px;border-radius:30px;margin:10px auto;text-align:center;font-size:14px;line-height:32px;border:#65bb0a 1px solid;}
.newsnext a{color:#65bb0a;}
.foucs_dyh{float: right;display: block;margin:4px 0 0 0;width:60px;line-height: 25px;}
.wefocus_a_head{display: flex;justify-content: space-between;flex-flow: nowrap;}
/*΢�Ź�ע*/

.wefocus_a{display:none;position: fixed;width:80%;top:50%; z-index:9; left:10%;background:#fff;border-radius: 10px;border:#ddd 1px solid}
.wefocus_a img{max-width: 100%;}
.wefocus_a_head img{width:60px}
.wefocus_a_head{justify-content: flex-start;color:#666;padding:10px 15px;border-bottom: #ddd 1px solid;font-size: 15px}
.wefocus_a_head img{margin-right: 10px;}
.wefocus_a_head b{display: block;color:#333;margin-top: 7px;}
.wefocus_a_way{padding:5px 10px}
.wefocus_a_way b{display: block;line-height: 30px;}
.wefocus_a_way dl{}
.wefocus_a_way dl dt{}
.wefocus_a_way dl dt i{display: inline-block;border-radius: 50%;border:#ddd 1px solid;width:20px;height: 20px;line-height: 20px;text-align: center;margin-right: 10px}
.wefocus_a_way dl dd{margin-left: 10px;border-left: 1px solid #ddd;padding-left: 20px}
.wefocus_a_way dl dd img{margin:10px  0 0 0;}
.wefocus_btn{margin:5px 15px 15px 15px;background:#65bb0a;border-radius: 5px;line-height: 45px;font-size: 16px;color:#fff;text-align: center; }
.wefocus_btn a{color:#fff}
.wefocus_bg{display:none;background:rgba(0,0,0,.5);position: fixed;left:0;top:0;width:100%;height: 100%;z-index: 8}
.wefocus_clo{width:25px;height: 25px;position: absolute;right:7px;top:7px;background: url(../images/close.png) no-repeat center center #eee;background-size: 80% auto;border-radius: 50%;cursor: pointer}
.menu::-webkit-scrollbar{width:6px; height:6px; background:transparent;}
.menu::-webkit-scrollbar-button{width:0; height:0;}
.menu::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{display:block;}
.menu::-webkit-scrollbar-button:vertical:start:increment, ::-webkit-scrollbar-button:vertical:end:decrement{display:none;}
.menu::-webkit-scrollbar-corner{display:block;}
.menu::-webkit-scrollbar-thumb{background-clip:padding-box;background-color:rgba(163, 163, 163, 0.7);border-radius:10px;}
.menu::-webkit-scrollbar-thumb:hover{background-clip:padding-box;background-color:rgba(163, 163, 163, 0.8);border-radius:10px;}
.menu::-webkit-scrollbar-track:hover{background-clip:padding-box;background-color:rgba(0, 0, 0, 0.1);}
/*popUp Img*/
div.photo-box {
    width: 100%;
    background: black;
    height: 100%;
    position: fixed;
    overflow: hidden;
    display: none;
    z-index: 999;
    left: 0;
    top: 0;
}
.cf {
    *zoom: 1;
}
.img-slider {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
}
.img-slider li {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    z-index: 999;
}
div.photo-box li {
    list-style: none;
}

.img-slider li img {
    vertical-align: middle;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}


.frend a{
	display:inline-block;
	height:25px;
	width:auto;
	font-size:12px;
	color:#858585;
	margin:5px 8px;
}
/*ping*/
.app_comment{margin-top:10px;background:#fff;padding:0;}.plhtml{padding:6px 10px 10px 10px;background:#fff;}.pladd{margin:10px 0 0 0;border-radius:2px;border:1px solid #eee;}.pladd textarea{width:96%;padding:2%;height:60px;border:0;font-size:14px;}.pladd .bom{display:block;height:31px;line-height:31px;border-top:1px solid #eee;}.pladd .bom #userName{float:left;background:url(../images/pinguser.png) 0 0 no-repeat;border:0;padding:0 0 0 48px;width:100px;box-sizing:content-box;height:25px;line-height:25px;margin:3px 0 0 3px;color:#555;border-right:1px solid #fcb52b;font-size:13px;text-align:left;}.pladd input{float:right;width:80px;height:31px;line-height:31px;background:#f4f4f4;border:0;text-align:center;color:#555;font-size:15px;border-left:1px solid #eee;padding:0;margin:0;border-radius:0;}.pladd .reping{display:none;float:left;color:#444;font-size:14px;line-height:30px;border-bottom:1px solid #ddd;width:100%;text-indent:6px;}.pladd .reping em{padding:0 2px;font-style:normal;text-decoration:none;}.pladd .reping i{color:red;padding-left:8px;cursor:pointer;font-style:normal; text-decoration:underline;}.pllist ul li{border-bottom:1px #ddd dotted;overflow:hidden;padding:2px 0 3px 0;}.pllist ul li p{line-height:26px;padding:0 3px;font-size:14px;color:#777;}.pllist ul li p .i{color:#326eb4;font-weight:bold;}.pllist ul li p .d{font-size:13px;padding-left:10px;}.pllist ul li p .l{font-size:13px;float:right;}.pllist p.m{float:right;}.pllist p.m span{position:relative;font-size:13px;margin-left:15px;color:#777;}@keyframes dig {100% {top:-20px;right:-12px;}}@-webkit-keyframes dig{100% {top:-20px;right:-12px;}}@-moz-keyframes dig {100% {top:-20px;right:-12px;}}@-ms-keyframes dig{100%{top:-20px;right:-12px;}}.pllist p.m span .Qdig{position:absolute;right:-5px;top:-10px;z-index:10;font-size:24px;color:#28bd98;animation:dig 1s;-webkit-animation:dig 1s;-moz-animation:dig 1s;-o-animation:dig 1s;}.pllist p.m span .Qbad{position:absolute;right:-5px;top:-10px;z-index:10;font-size:24px;color:#ff6f6f;animation:dig 1s;-webkit-animation:dig 1s;-moz-animation:dig 1s;-o-animation:dig 1s;}.pllist p.m span.s{color:#28bd98;}.pllist p.m span.a{color:#ff6f6f;}.pllist p.t{color:#555;line-height:24px;padding:4px 8px;}.pllist .loadmore{display:none;line-height:32px;text-align:center;font-size:14px;background:#f6f6f6;margin:5px 0;color:#888;border-radius:2px;}.pllist ul li .hf{position:relative;margin:10px 8px 5px 8px;padding:5px 5px 2px 5px;border:1px solid #dbdbdb;background:#f9f9f9;border-radius:2px;}.pllist ul li .hf:after{content:"";position:absolute;left:12px;top:-6px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #ddd;}.pllist ul li .hf .hfa{font-size:14px;line-height:24px;color:#777;}.pllist ul li .hf .hfb{text-align:right;font-size:13px;line-height:24px;color:#777;}.pllist ul li .hf .hfb i{font-size:13px;padding-right:8px;color:#6087b5;}.pllist ul li .hf .hfb i a{color:#6087b5;font-weight:800;}.alert{width:72%;position:fixed;top:40%;left:10%;background:rgba(0,0,0,0.6);color:#fff;text-align:center;padding:15px 4%;line-height:22px;border-radius:6px;font-size:15px;z-index:999999;}

.v_l{
	background:url(../images/video_i.png) no-repeat center center;
	padding:0 10px;
	margin: 0 5px;
}

.frend a{
	display:inline-block;
	height:22px;
	width:auto;
	font-size:12px;
	color:#858585;
	margin:2px 8px;
}

/*popUp Img*/
div.photo-box {
    width: 100%;
    background: black;
    height: 100%;
    position: fixed;
    overflow: hidden;
    display: none;
    z-index: 999;
    left: 0;
    top: 0;
}
.cf {
    *zoom: 1;
}
.img-slider {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
}
.img-slider li {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    z-index: 999;
}
div.photo-box li {
    list-style: none;
}

.img-slider li img {
    vertical-align: middle;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/*rela*/
.zt_soft, .zt_article, .zt_related {
    margin-top: 10px;
    background: #fff;
}
.hd {
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
    font-weight: normal;
    background: #eee;
    border-left:5px solid #16b3de;
}
.zt_list {
    padding: 8px 2%;
    overflow: hidden;
    background: #fff;
}
.zt_list li {
    float: left;
    width: 50%;
    height: 110px;
    text-align: center;
    overflow: hidden;
    margin: 4px 0 0 0;
}
.zt_list li img {
    width: 94%;
    height: 80px;
    display: block;
    margin: 0 auto 2px auto;
	border-radius:4px;
}
.zt_list li b{
    display: block;
    padding: 0 5px;
	font-weight:100;
	font-size:14px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hd .mr {
    float: right;
    margin-right: 10px;
    color: #858585;
    font-size: 14px;
}