@charset 'UTF-8';
/**
 *
 * @authors clotwind (clotwind@qq.com)
 * @date    2015-05-26 16:21:11
 * @version $Id$
 */

html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 500;
    line-height: 1.1;
}
ul,ol,dl{list-style-type:none}

/*=====================(瀛椾綋璁剧疆)=====================*/
body,
th,
td,
button,
input,
select,
textarea
{
    font-family:'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';
    font-size: 12px;

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}


/*=====================(甯冨眬)=====================*/
.wrap
{
    width: 1200px;
    margin: 0 auto;
}
.box-left {
    width: 635px;
    overflow: hidden;

}
.box-right {
    width: 300px;
    overflow: hidden;
}

/*=====================(閾炬帴璁剧疆)=====================*/
a
{
    cursor: pointer;
    text-decoration: none;
}
a:hover
{
    text-decoration: none;

    outline: none;
}
a.ie6:hover
{
    zoom: 1;
}
a:focus
{
    outline: none;
}
a:hover,
a:active
{
    outline: none;
}:focus
{
    outline: none;
}

a:hover,a:active,a:link,a:visited{cursor:pointer;}
    cursor:pointer;
    color: #fff;
}

/*=====================(鏂囧瓧瀵归綈)=====================*/

.text-l
{
    text-align: left;
}
/*姘村钩灞呭乏*/

.text-r
{
    text-align: right;
}
/*姘村钩灞呭彸*/

.text-c
{
    text-align: center;
}
/*姘村钩灞呬腑*/

.va-t
{
    vertical-align: top!important;
}
/*涓婁笅灞呴《*/

.va-m
{
    vertical-align: middle!important;
}
/*涓婁笅灞呬腑*/

.va-b
{
    vertical-align: bottom!important;
}
/*涓婁笅灞呭簳*/
/*=====================(缁濆瀹氫綅)=====================*/

.pos-r
{
    position: relative;
}
.pos-a
{
    position: absolute;
}
.pos-f
{
    position: fixed;
}
/*=====================(娴姩)=====================*/

.pull-left
{
    float: left;

    _display: inline;
}
.pull-right
{
    float: right;

    _display: inline;
}
/*
    Name:           style_clearfix
    Example:        class="clearfix|cl"
    Explain:        Clearfix锛堢畝鍐檆l锛夐伩鍏嶅洜瀛愬厓绱犳诞鍔ㄨ€屽鑷寸殑鐖跺厓绱犻珮搴︾己澶辫兘闂
*/
.cl:after,
.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}.cl,
.clearfix
{
    zoom: 1;
}
/*=====================(鏂囧瓧鍗曡婧㈠嚭鐪佺暐鍙�)=====================*/

.text-overflow
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
/*=====================(绾挎潯)=====================*/

.line
{
    font-size: 0;
    line-height: 0;

    float: none;

    border-top: solid 1px #e5e5e5;
}
.line-dashed
{
    font-size: 0;
    line-height: 0;

    float: none;

    border-top: dashed 1px #e5e5e5;
}
/*=====================(鏈夊簭鏃犲簭鍒楄〃)=====================*/

ul.unstyled, ol.unstyled {
    margin-left: 0;

}
ul.inline, ol.inline {
    margin-left: 0;

}
ul.inline>li, ol.inline>li {
    display: block;
    float: left;

    *display: inline;
    *zoom: 1;
}
ol.linenums li{
    margin: 0 0 0 22px;
    list-style: decimal outside none;
}
/*  blank   */
.blank3
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 3px;
}
.blank5
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 5px;
}
.blank10
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 10px;
}
.blank15
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 15px;
}
.blank20
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 20px;
}
.blank25
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 25px;
}
.blank30
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 30px;
}
.blank35
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 35px;
}
.blank40
{
    font-size: 1px;

    clear: both;
    overflow: hidden;

    height: 40px;
}

/*=====================(澶栭棿璺�)=====================*/

.mt-5
{
    margin-top: 5px;
}
/*璺濅笂5鍍忕礌*/

.mt-10
{
    margin-top: 10px;
}
/*璺濅笂10鍍忕礌*/

.mt-15
{
    margin-top: 15px;
}
/*璺濅笂15鍍忕礌*/

.mt-20
{
    margin-top: 20px;
}
/*璺濅笂20鍍忕礌*/

.mt-25
{
    margin-top: 25px;
}
/*璺濅笂20鍍忕礌*/

.mb-5
{
    margin-bottom: 5px;
}
/*璺濅笅5鍍忕礌*/

.mb-10
{
    margin-bottom: 10px;
}
/*璺濅笅10鍍忕礌*/

.mb-15
{
    margin-bottom: 15px;
}
/*璺濅笅15鍍忕礌*/

.mb-20
{
    margin-bottom: 20px;
}
/*璺濅笅20鍍忕礌*/

.ml-5
{
    margin-left: 5px;
}
/*璺濆乏5鍍忕礌*/

.ml-10
{
    margin-left: 10px;
}
/*璺濆乏10鍍忕礌*/

.ml-15
{
    margin-left: 15px;
}
/*璺濆乏15鍍忕礌*/

.ml-20
{
    margin-left: 20px;
}
/*璺濆乏20鍍忕礌*/

.mr-5
{
    margin-right: 5px;
}
/*璺濆彸5鍍忕礌*/

.mr-10
{
    margin-right: 10px;
}
/*璺濆彸10鍍忕礌*/

.mr-15
{
    margin-right: 15px;
}
/*璺濆彸15鍍忕礌*/

.mr-20
{
    margin-right: 20px;
}
/*璺濆彸20鍍忕礌*/
.mr-25
{
    margin-right: 25px;
}
/*璺濆彸25鍍忕礌*/
/*=====================(鍐呭～鍏�)=====================*/

.pt-5
{
    padding-top: 5px;
}
/*涓婂～鍏�5鍍忕礌*/

.pt-10
{
    padding-top: 10px;
}
/*涓婂～鍏�10鍍忕礌*/

.pt-15
{
    padding-top: 15px;
}
/*涓婂～鍏�15鍍忕礌*/

.pt-20
{
    padding-top: 20px;
}
/*涓婂～鍏�20鍍忕礌*/
.pt-30
{
    padding-top: 30px;
}


.pb-5
{
    padding-bottom: 5px;
}
/*涓嬪～鍏�5鍍忕礌*/

.pb-10
{
    padding-bottom: 10px;
}
/*涓嬪～鍏�10鍍忕礌*/

.pb-15
{
    padding-bottom: 15px;
}
/*涓嬪～鍏�15鍍忕礌*/

.pb-20
{
    padding-bottom: 20px;
}
/*涓嬪～鍏�20鍍忕礌*/

.pb-30
{
    padding-bottom: 30px;
}
/*涓嬪～鍏�20鍍忕礌*/

.pl-5
{
    padding-left: 5px;
}
/*宸﹀～鍏�5鍍忕礌*/

.pl-10
{
    padding-left: 10px;
}
/*宸﹀～鍏�10鍍忕礌*/

.pl-15
{
    padding-left: 15px;
}
/*宸﹀～鍏�15鍍忕礌*/

.pl-20
{
    padding-left: 20px;
}
/*宸﹀～鍏�20鍍忕礌*/

.pr-5
{
    padding-right: 5px;
}
/*鍙冲～鍏�5鍍忕礌*/

.pr-10
{
    padding-right: 10px;
}
/*鍙冲～鍏�10鍍忕礌*/

.pr-15
{
    padding-right: 15px;
}
/*鍙冲～鍏�15鍍忕礌*/

.pr-20
{
    padding-right: 20px;
}
/*鍙冲～鍏�20鍍忕礌*/

.pd-5
{
    padding: 5px;
}
/*濉厖5鍍忕礌*/

.pd-10
{
    padding: 10px;
}
/*濉厖10鍍忕礌*/

.pd-15
{
    padding: 15px;
}
/*濉厖15鍍忕礌*/

.pd-20
{
    padding: 20px;
}
/*濉厖20鍍忕礌*/
/*=====================(瀛椾綋澶у皬)=====================*/
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 .fs14 a {font-size: 14px;}
.fs16 {font-size: 16px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
.fs18 {font-size: 18px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
.fs20 {font-size: 20px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
.fs22 {font-size: 22px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
.fs24 {font-size: 24px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
.fs28 {font-size: 28px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
.fs30 {font-size: 30px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
.fs40 {font-size: 40px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
.fs45 {font-size: 45px;font-family: 'Microsoft Yahei','Hiragino Sans GB','Helvetica Neue',Helvetica,tahoma,arial,Verdana,sans-serif,'WenQuanYi Micro Hei','\5B8B\4F53';}
/*=====================(瀛椾綋棰滆壊)=====================*/
.c0,.c0 a {color: #fff;}
.c1,.c1 a {color: #000}
.c2,.c2 a {color: #222;}
.c3,.c3 a {color: #444;}
.c4,.c4 a {color: #666;}
.c5,.c5 a {color: #999;}
.c6,.c6 a {color: #5f4326;}
/*=====================(鍒嗗壊绾�)=====================*/

.pipe
{
    margin: 0 5px;

    color: #ccc;
}
/*=====================(闅愯棌 鏄剧ず)=====================*/

.hide
{
    display: none;
}
[hidden]
{
    display: none;
}
.hidden
{
    display: none!important;
    visibility: hidden!important;
}
.f-hide
{
    font: 0/0 a;

    color: transparent;
    border: 0;
    background-color: transparent;
    text-shadow: none;
}
[class*='span'].hide,
.row-fluid [class*='span'].hide
{
    display: none;
}
.show
{
    display: block;
}
.invisible
{
    visibility: hidden;
}
.oh
{
    overflow: hidden;
}
/*=====================(鎸夐挳鏍峰紡)=====================*/
.btn
{
    font-size: 14px;
    line-height: 30px;

    display: -moz-inline-stack;
    display: inline-block;
    overflow: visible;
    zoom: 1;

    width: auto;
    height: 30px;
    margin: 0;
    padding: 0 10px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 0;

    *display: inline;
}
.sn
{
    font-size: 14px;

    display: -moz-inline-stack;
    display: inline-block;
    overflow: visible;
    zoom: 1;

    width: auto;
    margin: 0;
    padding: 2px 6px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 0;

    *display: inline;
}
.btn:active
{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 0 0 0;
}
/*=====================(iconfont)=====================*/

i
{
    font-family: 'iconfont';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;

    display: inline-block;

    padding-right: .3125rem/* 5px */;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;

    line-height: 18px;

    color: #999;

}
